@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

:root {
  --primary: #e65100;
  --secondary: #ffb300;
  --tertiary: #fff3e0;
  --auth-login: 17px;
}

/****************************** Header style *******************************/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header .logo img {
  max-width: 100px;
  object-fit: cover;
}

nav ul {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: auto;
  margin: auto;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}

nav ul li a::after {
  content: "";
  display: block;
  transform: scaleX(0);
  transition: 0.5s;
  border-bottom: solid var(--primary);
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

header .auth {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .auth button:nth-child(1) {
  border: none;
  background: none;
  cursor: pointer;
}
header .auth button:nth-child(2) {
  border: none;
  background: var(--primary);
  padding: 10px 14px;
  outline: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

header .auth button span {
  font-size: 15px;
  font-weight: 500;
}

/* Section hero Traiteur */

#hero-traiteur {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#hero-traiteur .hero-traiteur {
  position: relative;
  background: url(/images/banner-caterers.jpg) no-repeat;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--primary);
  opacity: 0.5;
  mix-blend-mode: multiply;
}

.hero-traiteur-text {
  display: block;
  position: relative;
}

.hero-traiteur-text h1 {
  font-size: 3.2rem;
  color: #ffff;
}

.hero-traiteur-text p {
  color: #fff;
  width: 95%;
}

main {
  height: auto;
  background-color: var(--tertiary);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

form .container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

form {
  background: #fffefd;
  width: 70%;
  height: auto;
  display: block;
  margin: 50px 0;
  border-radius: 5px;
  position: relative;
}

.information-de-base {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 87%;
}

.information-de-base h2 {
  /* padding: 0 90px; */
  font-size: 17px;
}

.form-group {
  flex: 1;
  padding: 0 100px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.name,
.email,
.pwd {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
label {
  padding: 5px 0;
}
input {
  padding: 9px 70px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #c7c7cc;
  box-shadow: 1px 1px 1px #ebebed;
}

.information-professionnel {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  padding: 50px 0;
}

.information-professionnel h2 {
  font-size: 17px;
}

.information-professionnel,
.experience,
.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 0;
}

.information-professionnel .form-group {
  width: 100%;
}

.experience,
.description {
  width: 100%;
}

.categorie {
  width: 100%;
}
.categorie select {
  width: 100%;
  padding: 9px 5px;
  border: 1px solid #c7c7cc;
  box-shadow: 1px 1px 1px #ebebed;
  font-size: 17px;
  font-weight: 700;
}

.service-purpose {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 70%;
  padding-bottom: 100px;
}

.first-check,
.second-check {
  margin-top: 10px;
}

.information-de-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-adress {
  display: flex;
  gap: 17px;
}

.tel,
.adress {
  display: flex;
  flex-direction: column;
}

.information-de-contact h2 {
  font-size: 17px;
  align-self: flex-start;
  padding: 0 100px;
}

.avatar {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  margin: 50px 0;
}

.avatar h2 {
  font-size: 17px;
  align-self: flex-start;
  padding: 0 100px;
}

.col-profil {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.row-pic {
  width: 67%;
}

.col-profil input {
  border: none;
  margin-left: -74px;
  font-size: 17px;
  color: #8f8f8f;
}

.col-profil input::file-selector-button {
  font-weight: bold;
  color: #c48958;
  padding: 0.7em;
  background: #fffceb;
  border: none;
  border-radius: 3px;
}

.col-profil p {
  font-size: 15px;
  color: #8f8f8f;
  margin-top: -14px;
}

.btn-submit {
  position: absolute;
  right: 0;
  margin-top: -55px;
  margin-right: 50px;
  padding: 12px 14px;
  background-color: #d97707;
  border-radius: 9px;
  color: #fff;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

footer {
  width: 100%;
  position: relative;
  height: 100%;
  background-color: #191e2b;
}

.rows-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: flex-start;
}

.row-footer {
  display: flex;
  flex-direction: column;
}

.row-footer li {
  list-style: none;
}

.li-row li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: start;
  padding: 2px 0;
  font-size: 14px;
  color: #a6aaaa;
}

.row-footer h4 {
  color: #fff;
}

.li-row li span i {
  color: #a6aaaa;
  font-size: 17px;
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 0;
}

.line {
  height: 1px;
  width: 85%;
  background: #8d8b8a;
}

.copyright span {
  padding: 15px 0;
  color: #8d8b8a;
  font-size: 14px;
}
