@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  top: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

:root {
  --primary: #e65100;
  --secondary: #ffb300;
  --tertiary: #fff3e0;
  --auth-login: 17px;
}

/****************************** Header style *******************************/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header .logo img {
  max-width: 100px;
  object-fit: cover;
}

nav ul {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: auto;
  margin: auto;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}

nav ul li a::after {
  content: "";
  display: block;
  transform: scaleX(0);
  transition: 0.5s;
  border-bottom: solid var(--primary);
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

header .auth {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .auth button:nth-child(1) {
  border: none;
  background: none;
  cursor: pointer;
}

header .auth button:nth-child(2) {
  border: none;
  background: var(--primary);
  padding: 10px 14px;
  outline: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}



header .auth button span {
  font-size: 15px;
  font-weight: 500;
}

/****************************** Main style *******************************/
main {
  width: 100%;
  height: 100%;
  margin-left: -8px;
}

/* Section 1 */
#home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  background-color: var(--tertiary);
}

#home .hero {
  position: relative;
  background: url(/images/banner-head-accueil.jpg) no-repeat;
  height: 500px;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 50% 50%;
}

.hero-content-box {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
}

.hero .overlay {
  position: absolute;
  background-color: #e65100;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  inset: 0;
  mix-blend-mode: multiply;
}

.hero-content-box img {
  width: 600px;
  height: 230px;
  object-fit: cover;
  border-radius: 25px;
  position: relative;
}

.hero-content-box .hero-text-box {
  display: block;
  position: relative;
}

.hero-content-box .hero-text-box h1 {
  color: #fff;
  font-size: 45px;
}

.hero-content-box .hero-text-box h1 span {
  color: #ffd000;
}

.hero-content-box .hero-text-box p {
  width: 79%;
  color: #fff;
}

.achievement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 15px;
  padding: auto;
  width: 100%;
  padding-bottom: 100px;
}

.badge-achievement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0 7px;
}

.badge-achievement h4 {
  text-align: center;
  color: var(--primary);
  font-weight: 800;
  font-size: 22px;
}

.badge-achievement span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.achivement-style {
  background-color: #fff;
  height: 120px;
  width: 200px;
  border-radius: 14px;
}

/* Nos service */
#service {
  width: 100%;
  height: 100%;
}

.ctn-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ctn-service-text {
  text-align: center;
}

.ctn-service-text h2 {
  font-size: 24px;
}

.ctn-service-content {
  display: flex;
  gap: 16px;
  width: 1200px;
  align-items: center;
  padding-left: 100px;
  justify-content: center;
}

.content-1,
.content-2,
.content-3 {
  flex: 1;
  padding: 0 25px;
  padding-bottom: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px #e2d4c4;
}

.content-1,
.content-2,
.content-3 h4 {
  color: #a16133;
}

.content-3 p {
  color: #a16133;
}

.fa-arrow-right {
  color: #a16133;
  font-size: 12px;
}

.service-link {
  color: #e65100;
}

.content-1,
.content-3 {
  background: #ffeec2;
}

.content-2 {
  background: #fff6e3;
}

/* Section maps */

.maps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
  padding: 50px 0;
  flex-direction: column;
  background: var(--tertiary);
}

.maps iframe {
  width: 800px;
  height: 300px;
  border-radius: 15px;
}

/* Style testimony */
#testimony {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ctn-testimony {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto auto;
  padding-bottom: 20px;
}

.testimony-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 0 12px;
  width: 1300px;
}

.testimony-card-1,
.testimony-card-2,
.testimony-card-3,
.testimony-card-4 {
  flex: 1;
  background-color: #fff9;
  border-radius: 12px;
  box-shadow: 1px 3px 1px 1px #e2d4c4;
  margin: 0;
  overflow: hidden;
}

.heading-testimony {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.heading-testimony .profile-img {
  position: absolute;
  left: 0;
  top: 10px;
  margin-left: 14px;
  background-color: #e2d4c4;
  padding: 10px;
  border-radius: 50%;
  border: solid var(--secondary);
}

.heading-testimony .profile-img span {
  font-weight: bold;
}

.name-rating {
  text-align: center;
}

.rating {
  margin-top: -15px;
}

.testimony-card-2 .profile-img {
  background-color: var(--primary);
  outline: none;
}

.testimony-card-3 .profile-img {
  background-color: var(--secondary);
  outline: none;
}

.testimony-card-3 span {
  color: #fff;
}

.testimony-card-4 .profile-img {
  background-color: green;
  outline: none;
}

.name-rating span i {
  font-size: small;
  color: var(--secondary);
}

.heading-testimony p {
  padding: 0 15px;
}

/* CTA section */
#last-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 50px;
}

.cta {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  height: 600px;
  background: url(images/banner-head-accueil.jpg) no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
}

.cta .overlay {
  position: absolute;
  background-color: #e65100;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  inset: 0;
  mix-blend-mode: multiply;
}

.cta-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.cta-content h2 {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  width: 40%;
  text-align: center;
  margin-top: 50px;
}

.cta-content p {
  color: #fff;
  margin-top: -10px;
}

.cta-content button {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.cta-content button span {
  color: var(--primary);
  font-weight: 600;
  font-size: 15px;
}

/****************************** Main style *******************************/

/*  Footer*/

footer {
  height: 100%;
  width: 100%;
  position: relative;
  margin: -150px -8px;
  background-color: #121929;

}

.container-footer {

  /* position: absolute; */
  width: 100%;
  bottom: 0;
}

.rows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: flex-start;
}

.row-span {
  display: flex;
  flex-direction: column;
}

.row-span li {
  list-style: none;
}

.li-row li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: start;
  padding: 2px 0;
  font-size: 14px;
  color: #a6aaaa;
}

.row-span h4 {
  color: #fff;
}

.li-row li span i {
  color: #a6aaaa;
  font-size: 17px;
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 0;
}

.line {
  height: 1px;
  width: 85%;
  background: #8d8b8a;
}

.copyright span {
  padding: 15px 0;
  color: #8d8b8a;
  font-size: 14px;
}