@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  background: var(--tertiary);
}

:root {
  --primary: #e65100;
  --secondary: #ffb300;
  --tertiary: #fff3e0;
  --auth-login: 17px;
}

/****************************** Header style *******************************/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

header .logo img {
  max-width: 100px;
  object-fit: cover;
}

nav ul {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: auto;
  margin: auto;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}

nav ul li a::after {
  content: "";
  display: block;
  transform: scaleX(0);
  transition: 0.5s;
  border-bottom: solid var(--primary);
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

header .auth {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .auth button:nth-child(1) {
  border: none;
  background: none;
  cursor: pointer;
}
header .auth button:nth-child(2) {
  border: none;
  background: var(--primary);
  padding: 10px 14px;
  outline: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

header .auth button span {
  font-size: 15px;
  font-weight: 500;
}

/* Section hero Traiteur */

#hero-traiteur {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#hero-traiteur .hero-traiteur {
  position: relative;
  background: url(/images/banner-caterers.jpg) no-repeat;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--primary);
  opacity: 0.5;
  mix-blend-mode: multiply;
}

.hero-traiteur-text {
  display: block;
  position: relative;
}

.hero-traiteur-text h1 {
  font-size: 3.2rem;
  color: #ffff;
}

.hero-traiteur-text p {
  color: #fff;
  width: 95%;
}

/* Section filtre */

#filtre {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-color: var(--tertiary);
}

.container {
  margin: 10px 50px;
  padding: 0 100px;
}

.container .head-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-row h2 {
  font-weight: 900;
  font-size: 27px;
  color: #191e2b;
}

.head-row .rows-filter {
  display: flex;
  align-items: center;
  gap: 14px;
}

.head-row .rows-filter .row {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.head-row .rows-filter label {
  font-size: 0.9em;
  font-weight: 900;
  color: #191e2b;
}

.head-row .rows-filter .row select {
  padding: 8px 10px;
  border-radius: 8px;
  outline: none;
}

.head-row .rows-filter .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-top: 24px;
}

.head-row .rows-filter .btn button {
  padding: 7px 10px;
  border-radius: 6px;
  outline: none;
}

.head-row .rows-filter .btn button:nth-child(1) {
  background-color: var(--primary);
  color: #fff;
  border: none;
  cursor: pointer;
}

.head-row .rows-filter .btn button:nth-child(2) {
  background-color: #fff;
  color: #000;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.chef-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  margin-top: 50px;
  position: relative;
  width: 100%;
}

.card-1 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  height: 189px;
  width: 1100px;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 1px 4px 1px 2px #e2d4c4;
  border-radius: 7px;
  position: relative;
}

.img-badge {
  position: relative;
}

.badge {
  position: absolute;
  right: 0;
  top: 27px;
  background: #dcfae5;
  color: #6aa381;
  padding: 5px 14px;
  margin-right: 10px;
  font-weight: 900;
  font-size: 0.9em;
  border-radius: 25px;
}

.card-2 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
  height: 189px;
  width: 1100px;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: 1px 4px 1px 2px #e2d4c4;
  border-radius: 7px;
}

.card-1 img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-2 img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.info-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.info-rating .info {
  padding: 0 25px;
  margin-top: -5px;
}

.date {
  color: #b1b5ba;
  font-size: 17px;
  font-weight: 700;
  position: relative;
}

.date:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #4d5466;
  left: 0;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: -13px;
}

.spec {
  color: #191e2b;
  font-weight: 700;
  font-size: 15px;
}

.bdg {
  color: #484a4d;
  background-color: #bfc2c7;
  border-radius: 25px;
  padding: 2px 10px;
  font-size: 12px;
}

.num {
  color: #787b80;
  font-size: 15px;
}
.name {
  color: #78807c;
  font-size: 17px;
}
.info-rating article:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  justify-content: space-between;
}

.rating {
  align-self: flex-end;
  margin-top: 10px;
  padding-right: 17px;
  font-weight: 900;
  color: #191e2b;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.fa-star {
  font-size: 14px;
  color: #ffb300;
}

.see-more {
  margin-right: 17px;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color: #191e2b;
  color: #fff;
  border-radius: 7px;
  border: none;
}

/* Cta Scetion */

#cta {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#cta .cta-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 45px 0;
  height: 300px;
  width: 100%;
  background: url(/images/banner-head-accueil.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#cta .cta-container .overlay {
  opacity: 0.89;
}

#cta .cta-container h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2px;
  position: relative;
  color: #fffdfd;
}
#cta .cta-container p {
  font-size: 16px;
  font-weight: 600px;
  position: relative;
  color: #fff;
}
#cta .cta-container button {
  padding: 12px 28px;
  border-radius: 10px;
  position: relative;
  outline: none;
  border: none;
}

#cta .cta-container button span {
  font-size: 15px;
  color: var(--primary);
}

/*  Footer*/

footer {
  width: 100%;
  position: relative;
  height: 100%;
  background-color: #191e2b;
}

.rows-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: flex-start;
}

.row-footer {
  display: flex;
  flex-direction: column;
}

.row-footer li {
  list-style: none;
}

.li-row li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: start;
  padding: 2px 0;
  font-size: 14px;
  color: #a6aaaa;
}

.row-footer h4 {
  color: #fff;
}

.li-row li span i {
  color: #a6aaaa;
  font-size: 17px;
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 0;
}

.line {
  height: 1px;
  width: 85%;
  background: #8d8b8a;
}

.copyright span {
  padding: 15px 0;
  color: #8d8b8a;
  font-size: 14px;
}
